* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.box {
  position: relative;
  height: 100vh;
  background-color: red;
}

#two {
  background-color: yellow;
}

#three {
  background-color: green;
}

nav {
  position: fixed;
  border: 1px solid black;
  right: 0;
  z-index: 1;
}
ul li {
  display: inline-block;
  list-style: none;
}

ul li a {
  text-decoration: none;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  margin: auto;
  text-align: center;
}

img {
  width: 100%;
}
