/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

html {
  scroll-behavior: smooth;
}

/* GLOBAL */

body {
  font-family: "Roboto", sans-serif;
}

.box {
  position: relative;
  height: 100vh;
  background-color: red;
}

#one,
#two,
#three {
  font-size: 40px;
  text-shadow: 0px 1px 2px black;
}

#one {
  color: yellow;
}

#two {
  background-color: green;
  color: yellow;
}

#three {
  background-color: yellow;
  color: green;
}

nav {
  position: fixed;
  /* border: 1px solid black; */
  right: 0;
  z-index: 1;
}

ul {
  margin-right: 10px;
}

ul li {
  display: inline-block;
  list-style: none;
  /* border: 1px solid black; */
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  background-color: white;
  margin-top: 10px;
  box-shadow: 0px 1px 5px;
}

ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 900;
  display: block;
  width: 100%;
  height: 100%;
}

li:nth-child(2) {
  margin-right: 10px;
  margin-left: 10px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  margin: auto;
  text-align: center;
}

img {
  width: 100%;
}
